.form__footer-content {
    margin-top: 40px;
  }
  .form__footer-text {
    font-family: Commissioner;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00000066;
  }
  .form__forer-text_decorate {
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: rgb(10, 47, 180);
  }